:root {
  // define basic color, do not using color in here for component
  --component-border: #9747ff;
  --brand-primary-dark-100: #5c0034;
  --brand-primary-dark-200: #66003a;
  --brand-primary-dark-25: #2e001b;
  --brand-primary-dark-300: #750043;
  --brand-primary-dark-400: #990057;
  --brand-primary-dark-50: #3d0023;
  --brand-primary-dark-500: #ff0192;
  --brand-primary-dark-600: #fe52b5;
  --brand-primary-dark-700: #fe8fcf;
  --brand-primary-dark-75: #4d002c;
  --brand-primary-dark-800: #ffc2e5;
  --brand-primary-dark-900: #ffebf6;
  --brand-primary-light-100: #ffb0dd;
  --brand-primary-light-200: #ff8acd;
  --brand-primary-light-25: #fffafd;
  --brand-primary-light-300: #ff55b6;
  --brand-primary-light-400: #ff34a8;
  --brand-primary-light-50: #ffe5f4;
  --brand-primary-light-500: #ff0192;
  --brand-primary-light-600: #e80185;
  --brand-primary-light-700: #b50168;
  --brand-primary-light-75: #ffcce9;
  --brand-primary-light-800: #8c0150;
  --brand-primary-light-900: #470029;
  --grayscale-neutral-dark-100: #28282c;
  --grayscale-neutral-dark-200: #2e2e32;
  --grayscale-neutral-dark-25: #161618;
  --grayscale-neutral-dark-300: #34343a;
  --grayscale-neutral-dark-400: #3e3e44;
  --grayscale-neutral-dark-50: #1c1c1f;
  --grayscale-neutral-dark-500: #504f57;
  --grayscale-neutral-dark-600: #706f78;
  --grayscale-neutral-dark-700: #7e7d86;
  --grayscale-neutral-dark-75: #232326;
  --grayscale-neutral-dark-800: #a09fa6;
  --grayscale-neutral-dark-900: #ededef;
  --grayscale-neutral-light-100: #efeded;
  --grayscale-neutral-light-200: #eae8e8;
  --grayscale-neutral-light-25: #fdfcfc;
  --grayscale-neutral-light-300: #e4e2e4;
  --grayscale-neutral-light-400: #dcdbde;
  --grayscale-neutral-light-50: #f9f8f8;
  --grayscale-neutral-light-500: #b6b5ba;
  --grayscale-neutral-light-600: #908d96;
  --grayscale-neutral-light-700: #87848c;
  --grayscale-neutral-light-75: #f3f3f3;
  --grayscale-neutral-light-800: #706d77;
  --grayscale-neutral-light-900: #161618;
  --grayscale-neutral-a-dark-100: #f3f0f212;
  --grayscale-neutral-a-dark-200: #f6f2f417;
  --grayscale-neutral-a-dark-25: #ffffff03;
  --grayscale-neutral-a-dark-300: #f1eef01d;
  --grayscale-neutral-a-dark-400: #f4f2f324;
  --grayscale-neutral-a-dark-50: #ebe6e907;
  --grayscale-neutral-a-dark-500: #f4f2f338;
  --grayscale-neutral-a-dark-600: #f6f5f670;
  --grayscale-neutral-a-dark-700: #f7f6f77a;
  --grayscale-neutral-a-dark-75: #f6f3f50c;
  --grayscale-neutral-a-dark-800: #fafafa90;
  --grayscale-neutral-a-dark-900: #fffdfee8;
  --grayscale-neutral-a-light-100: #1b041112;
  --grayscale-neutral-a-light-200: #18020e17;
  --grayscale-neutral-a-light-25: #332a2f03;
  --grayscale-neutral-a-light-300: #12010b1d;
  --grayscale-neutral-a-light-400: #0f010924;
  --grayscale-neutral-a-light-50: #1c121807;
  --grayscale-neutral-a-light-500: #12000b38;
  --grayscale-neutral-a-light-600: #12000b70;
  --grayscale-neutral-a-light-700: #13000b7a;
  --grayscale-neutral-a-light-75: #1d0a150c;
  --grayscale-neutral-a-light-800: #10000990;
  --grayscale-neutral-a-light-900: #0f0009e8;
  --overlays-black-0: #00000000;
  --overlays-black-100: #00000012;
  --overlays-black-1000: #000000;
  --overlays-black-200: #00000017;
  --overlays-black-25: #00000003;
  --overlays-black-300: #0000001d;
  --overlays-black-400: #00000024;
  --overlays-black-50: #00000007;
  --overlays-black-500: #00000038;
  --overlays-black-600: #00000070;
  --overlays-black-700: #0000007a;
  --overlays-black-75: #0000000c;
  --overlays-black-800: #00000090;
  --overlays-black-900: #000000e8;
  --overlays-white-0: #ffffff00;
  --overlays-white-100: #ffffff12;
  --overlays-white-1000: #ffffff;
  --overlays-white-200: #ffffff17;
  --overlays-white-25: #ffffff03;
  --overlays-white-300: #ffffff1d;
  --overlays-white-400: #ffffff24;
  --overlays-white-50: #ffffff07;
  --overlays-white-500: #ffffff38;
  --overlays-white-600: #ffffff70;
  --overlays-white-700: #ffffff7a;
  --overlays-white-75: #ffffff0c;
  --overlays-white-800: #ffffff90;
  --overlays-white-900: #ffffffe8;
  --semantic-danger-dark-100: #481a1d;
  --semantic-danger-dark-200: #541b1f;
  --semantic-danger-dark-25: #1f1315;
  --semantic-danger-dark-300: #671e22;
  --semantic-danger-dark-400: #822025;
  --semantic-danger-dark-50: #291415;
  --semantic-danger-dark-500: #aa2429;
  --semantic-danger-dark-600: #e5484d;
  --semantic-danger-dark-700: #f2555a;
  --semantic-danger-dark-75: #3c181a;
  --semantic-danger-dark-800: #ff6369;
  --semantic-danger-dark-900: #feecee;
  --semantic-danger-light-100: #ffe5e5;
  --semantic-danger-light-200: #fdd8d8;
  --semantic-danger-light-25: #fffcfc;
  --semantic-danger-light-300: #f9c6c6;
  --semantic-danger-light-400: #f3aeaf;
  --semantic-danger-light-50: #fff8f8;
  --semantic-danger-light-500: #eb9091;
  --semantic-danger-light-600: #e5484d;
  --semantic-danger-light-700: #dc3d43;
  --semantic-danger-light-75: #ffefef;
  --semantic-danger-light-800: #cd2b31;
  --semantic-danger-light-900: #381316;
  --semantic-info-dark-100: #102a4c;
  --semantic-info-dark-200: #0f3058;
  --semantic-info-dark-25: #0f1720;
  --semantic-info-dark-300: #0d3868;
  --semantic-info-dark-400: #0a4481;
  --semantic-info-dark-50: #0f1b2d;
  --semantic-info-dark-500: #0954a5;
  --semantic-info-dark-600: #0091ff;
  --semantic-info-dark-700: #369eff;
  --semantic-info-dark-75: #10243e;
  --semantic-info-dark-800: #52a9ff;
  --semantic-info-dark-900: #eaf6ff;
  --semantic-info-light-100: #e1f0ff;
  --semantic-info-light-200: #cee7fe;
  --semantic-info-light-25: #fbfdff;
  --semantic-info-light-300: #b7d9f8;
  --semantic-info-light-400: #96c7f2;
  --semantic-info-light-50: #f5faff;
  --semantic-info-light-500: #5eb0ef;
  --semantic-info-light-600: #0091ff;
  --semantic-info-light-700: #0081f1;
  --semantic-info-light-75: #edf6ff;
  --semantic-info-light-800: #006adc;
  --semantic-info-light-900: #00254d;
  --semantic-success-dark-100: #113123;
  --semantic-success-dark-200: #133929;
  --semantic-success-dark-25: #0d1912;
  --semantic-success-dark-300: #164430;
  --semantic-success-dark-400: #1b543a;
  --semantic-success-dark-50: #0c1f17;
  --semantic-success-dark-500: #236e4a;
  --semantic-success-dark-600: #30a46c;
  --semantic-success-dark-700: #3cb179;
  --semantic-success-dark-75: #0f291e;
  --semantic-success-dark-800: #4cc38a;
  --semantic-success-dark-900: #e5fbeb;
  --semantic-success-light-100: #ddf3e4;
  --semantic-success-light-200: #ccebd7;
  --semantic-success-light-25: #fbfefc;
  --semantic-success-light-300: #b4dfc4;
  --semantic-success-light-400: #92ceac;
  --semantic-success-light-50: #f2fcf5;
  --semantic-success-light-500: #5bb98c;
  --semantic-success-light-600: #30a46c;
  --semantic-success-light-700: #299764;
  --semantic-success-light-75: #e9f9ee;
  --semantic-success-light-800: #18794e;
  --semantic-success-light-900: #153226;
  --semantic-warning-dark-100: #441f04;
  --semantic-warning-dark-200: #4f2305;
  --semantic-warning-dark-25: #1f1206;
  --semantic-warning-dark-300: #5f2a06;
  --semantic-warning-dark-400: #763205;
  --semantic-warning-dark-50: #2b1400;
  --semantic-warning-dark-500: #943e00;
  --semantic-warning-dark-600: #f76808;
  --semantic-warning-dark-700: #ff802b;
  --semantic-warning-dark-75: #391a03;
  --semantic-warning-dark-800: #ff8b3e;
  --semantic-warning-dark-900: #feeadd;
  --semantic-warning-light-100: #ffe8d7;
  --semantic-warning-light-200: #ffdcc3;
  --semantic-warning-light-25: #fefcfb;
  --semantic-warning-light-300: #ffcca7;
  --semantic-warning-light-400: #ffb381;
  --semantic-warning-light-50: #fef8f4;
  --semantic-warning-light-500: #fa934e;
  --semantic-warning-light-600: #f76808;
  --semantic-warning-light-700: #ed5f00;
  --semantic-warning-light-75: #fff1e7;
  --semantic-warning-light-800: #bd4b00;
  --semantic-warning-light-900: #451e11;
}
