:root {
  // variable for theme light
  --bg-neutral-black: var(--overlays-black-1000);
  --bg-neutral-white: var(--overlays-white-1000);
  --bg-neutral-overlay-base: var(--overlays-black-50);
  --bg-neutral-1000: var(--overlays-white-1000);
  --bg-success-base: var(--semantic-success-light-25);
  --bg-warning-base: var(--semantic-warning-light-25);
  --bg-info-base: var(--semantic-info-light-25);
  --bg-danger-base: var(--semantic-danger-light-75);
  --bg-primary-base: var(--brand-primary-light-50);
  --bg-neutral-disabled-high-em: var(--grayscale-neutral-light-200);
  --bg-neutral-disabled-medium-em: var(--grayscale-neutral-light-100);
  --bg-neutral-disabled-low-em: var(--grayscale-neutral-light-75);
  --bg-neutral-disabled-base: var(--grayscale-neutral-light-25);
  --bg-danger-medium-em: var(--semantic-danger-light-600);
  --bg-danger-high-em: var(--semantic-danger-light-700);
  --bg-info-low-em: var(--semantic-info-light-75);
  --bg-info-medium-em: var(--semantic-info-light-600);
  --bg-info-high-em: var(--semantic-info-light-700);
  --bg-primary-low-em: var(--brand-primary-light-75);
  --bg-primary-high-em: var(--brand-primary-light-600);
  --bg-primary-medium-em: var(--brand-primary-light-500);
  --bg-neutral-overlay-transparent: var(--overlays-black-0);
  --bg-neutral-overlay-low-em: var(--overlays-black-75);
  --bg-warning-low-em: var(--semantic-warning-light-75);
  --text-danger-high-em: var(--semantic-danger-light-900);
  --bg-warning-high-em: var(--semantic-warning-light-700);
  --border-success-low-em: var(--semantic-success-light-75);
  --text-info-medium-em: var(--semantic-info-light-600);
  --bg-danger-low-em: var(--semantic-danger-light-100);
  --border-success-medium-em: var(--semantic-success-light-300);
  --text-info-high-em: var(--semantic-info-light-900);
  --border-danger-low-em: var(--semantic-danger-light-75);
  --bg-neutral-overlay-medium-em: var(--overlays-black-300);
  --border-info-high-em: var(--semantic-info-light-600);
  --bg-neutral-overlay-high-em: var(--overlays-black-500);
  --text-primary-low-em: var(--brand-primary-light-300);
  --border-success-high-em: var(--semantic-success-light-600);
  --text-neutral-black: var(--overlays-black-1000);
  --text-primary-medium-em: var(--brand-primary-light-500);
  --border-warning-low-em: var(--semantic-warning-light-75);
  --text-neutral-white: var(--overlays-white-1000);
  --text-success-high-em: var(--semantic-success-light-900);
  --border-primary-medium-em: var(--brand-primary-light-100);
  --text-neutral-low-em: var(--grayscale-neutral-light-500);
  --border-danger-medium-em: var(--semantic-danger-light-300);
  --bg-neutral-fill-low-em: var(--grayscale-neutral-light-75);
  --text-warning-low-em: var(--semantic-warning-light-500);
  --border-primary-high-em: var(--brand-primary-light-500);
  --text-neutral-medium-em: var(--grayscale-neutral-light-800);
  --border-danger-high-em: var(--semantic-danger-light-600);
  --bg-neutral-fill-medium-em: var(--grayscale-neutral-light-300);
  --text-warning-medium-em: var(--semantic-warning-light-600);
  --text-neutral-high-em: var(--grayscale-neutral-light-900);
  --border-info-low-em: var(--semantic-info-light-75);
  --bg-success-low-em: var(--semantic-success-light-75);
  --text-warning-high-em: var(--semantic-warning-light-900);
  --border-info-medium-em: var(--semantic-info-light-300);
  --bg-success-medium-em: var(--semantic-success-light-600);
  --bg-neutral-fill-base: var(--grayscale-neutral-light-50);
  --text-danger-low-em: var(--semantic-danger-light-500);
  --border-neutral-low-em: var(--grayscale-neutral-light-200);
  --bg-success-high-em: var(--semantic-success-light-700);
  --text-danger-medium-em: var(--semantic-danger-light-600);
  --border-neutral-medium-em: var(--grayscale-neutral-light-500);
  --bg-warning-medium-em: var(--semantic-warning-light-600);
  --text-info-low-em: var(--semantic-info-light-500);
  --bg-neutral-1000invert: var(--overlays-black-1000);
  --border-neutral-high-em: var(--grayscale-neutral-light-700);
  --border-neutral-transparent: var(--overlays-white-0);
  --border-warning-high-em: var(--semantic-warning-light-600);
  --bg-neutral-fill-high-em: var(--grayscale-neutral-light-500);
  --text-success-medium-em: var(--semantic-success-light-600);
  --border-primary-low-em: var(--brand-primary-light-50);
  --text-primary-high-em: var(--brand-primary-light-900);
  --border-warning-medium-em: var(--semantic-warning-light-300);
  --text-success-low-em: var(--semantic-success-light-400);
}